%h1 Listing bars

%table
  %tr
    %th Name
    %th User
    %th Latitude
    %th Longitude
    %th
    %th
    %th

  - @bars.each do |bar|
    %tr
      %td= bar.name
      %td= bar.user_id
      %td= bar.latitude
      %td= bar.longitude
      %td= link_to 'Show', bar
      %td= link_to 'Edit', edit_bar_path(bar)
      %td= link_to 'Destroy', bar, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Bar', new_bar_path
